/* comentário */
:root {
    --white: #f2f2f2;
    --white-transparent: #f2f2f2aa;
    --pink: #f77998;
    --light-pink: #faebd7;
    --orange: #ff6b3e;
    --grey: grey;
    --light-pink-transparent: #faebd7aa;
}