@import url(_reset.css);
@import url(_variaveis.css);

html {
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: "Overpass", sans-serif;
    background-color: white;
    perspective: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    padding: 0 2rem;
}